{
	"jira_url": "https://jira.baseurl.com",
	"jira_user": "SVC-jira-reporter",
	"jira_password": "svc-user-password",
	"customfield_parent_link": "customfield_45400",
	"customfield_epic_link": "customfield_10006",
	"transition_id_to_do": "71",
	"transition_id_in_progress": "21",
	"transition_id_done": "81",
	"initiative_transition_id_to_do": "11",
	"initiative_transition_id_in_progress": "21",
	"initiative_transition_id_done": "31",
	"jql_epics": "filter = 'All CEE Products' AND project NOT IN (AIS, ONEAPI) AND issueFunction in epicsOf('filter = \"All CEE Products\" AND updated > -95d') AND issuetype = 'Epic' ORDER BY issuekey",
	"jql_program_epics": "filter = 'All CEE Products' AND project NOT IN (AIS, ONEAPI) AND issueFunction in linkedIssuesOf('filter = \"All CEE Products\" AND issuetype = Epic') AND issuetype = 'Program Epic' ORDER BY issuekey",
	"jql_initiatives": "project = CEE AND issueFunction in linkedIssuesOf('filter = \"All CEE Products\" AND issuetype = \"Program Epic\"') AND issuetype = 'Initiative' ORDER BY issuekey",
	"log_level": "info"
}