{
	"uiuser": "administrator",
	"uipassword": "********",
	"baseurl": "https://confluence-preprod.example.com",
	"listPermissions": "viewspace, removeowncontent, editspace, removepage, editblog, removeblog, createattachment, removeattachment, comment, removecomment, setpagepermissions, removemail, exportspace, setspacepermissions",
	"listOldGroups": "anonymous, confluence-users",
	"listNewGroups": "SDLC_COLEXAMPLEEMPLOYEES, VDSISDLC_COLEXAMPLEEMPLOYEES, EMEASDLC_COLEXAMPLEEMPLOYEES, SDLC_COLCONTRACTORS, VDSISDLC_COLCONTRACTORS, EMEASDLC_COLCONTRACTORS",
	"sqlserver": "confluencepreprod.cbhxxwrpq3pu.us-west-2.rds.amazonaws.com",
	"sqldatabase": "oneconfluence_preprod_DBwest",
	"sqluser": "devopsdbadmin",
	"sqlpassword": "********",
	"sqlselect": "select a.* FROM (select DISTINCT s.SPACEKEY from [dbo].[SPACES] s inner join [dbo].[SPACEPERMISSIONS] sp on sp.SPACEID = s.SPACEID WHERE (sp.PERMGROUPNAME IS NULL OR sp.PERMGROUPNAME = 'confluence-users') and sp.PERMUSERNAME IS NULL AND s.SPACEKEY >= 'MO' AND s.SPACEKEY < 'N') a ORDER BY 1 DESC"
}