{
	"jira_url": "https://jira-preprod.example.com/",
	"jira_user": "YOUR-SVCACCT-USERID",
	"jira_password": "your-svcacct-password",
	"jql_epics": "project = PCM AND 'VAST Appl ID' is not EMPTY AND 'Appl ID' is EMPTY order by updated DESC",
	"vast_sql_server": "devopstools.example.com",
	"vast_sql_db": "your-sql-db",
	"vast_sql_user": "your-sql-username",
	"vast_sql_password": "your-sql-password",
	"vast_sql_driver": "ODBC Driver 13 for SQL Server",
	"log_level": "debug"
}
