{
	"jira_url": "https://jira-preprod.example.com/",
	"jira_user": "YOUR-SVCACCT-USERID",
	"jira_password": "your-svcacct-password",
	"jql_epics": "filter = 'All CEE Products' AND originalEstimate is EMPTY AND remainingEstimate is not EMPTY AND issuetype NOT IN ('Program Epic', Epic) AND project not in (CLUE2) order by updated desc",
	"log_level": "info"
}
